.navbarContainer {
  height: 80px;
  position: relative;
  
}

#dropdown-menu {
  right: 0;
  left: -400%;
  width: 500%;
}

.dropdown-item.searchItem {
  padding: 0 0;
  white-space: normal;
}

.form-control.navbar-searchbox {
  margin-bottom: 10px;
  height: 70px;
  opacity: 0.92;
}

.dropdown-divider.navsearch-divider {
  border-top: 1px solid #c6cace;
}