.navbarContainer {
  height: 80px;
  position: relative;
  opacity: 0.9;
}

#dropdown-menu {
  right: 0;
  left: -400%;
  width: 500%;
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
  opacity: 0.95;
}

.logo-photo {
  width: 50px;
  height: 50px;
}

.logo-bundle {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.navbar-brand.logo {
  font-family: 'Pacifico', cursive;
  font-size: xx-large;
}

.dropdown-item.searchItem {
  padding: 0 0;
  white-space: normal;
  text-align: center;
}

.dropdown-item.searchItem:hover {
  padding: 0 0;
  white-space: normal;
  text-decoration: none;
}

.form-control.navbar-searchbox {
  margin-bottom: 10px;
  height: 70px;
  opacity: 0.92;
}

.dropdown-divider.navsearch-divider {
  border-top: 1px solid #c6cace;
}

