.reset {
  padding: 0;
}

.dv-star-rating-star {
  margin-bottom: 0;
}

.dv-star-rating {
  top: 5px;
}

.eventBanner {
  padding-top: 100px;
  background-color: #f9f9f9;
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.33%);
  }
  
  .carousel-inner .carousel-item-left.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.33%)
  }
    
  .carousel-inner .carousel-item-right,
  .carousel-inner .carousel-item-left{ 
    transform: translateX(0);
  }
  .eventDetail {
    margin-top: 80px;
    .eventTitle {
      text-align: center;
      margin-bottom: 15px;
    }
    .hostImages {
      box-sizing: border-box;
      height: 60vh;
      padding: 0;
      .imagesSlider {
        height: 300px;
        width: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .hostDetail {
          h4 {
            margin: 0;
          }
        }
      }
    }
    .eventInfo {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .eventMap {
      width: 400px;
      height: 300px;
      margin: auto 0;
      border: 1px solid #000;
      padding: 0;
    }
  }
}

.menuContainer {
  background-color: #f9f9f9;
  padding-top: 100px;
  text-align: center;
  .triangleTop {
    width: 0;
    height: 0;
    border-top: 80px solid #fff;
    border-left: 100vw solid #f9f9f9;
  }
  .triangleBottom {
    width: 0;
    height: 0;
    border-bottom: 80px solid #fff;
    border-left: 100vw solid #f9f9f9;
  }
}

.guessListContainer {
  margin: 50px 0;
  text-align: center;
}

.reviewContainer {
  background-color: #f9f9f9;
  padding-bottom: 100px;
  .triangleTop {
    width: 0;
    height: 0;
    border-bottom: 80px solid #f9f9f9;
    border-right: 100vw solid #fff;
  }
  .reviewsWrap {
    .reviews {
      margin-top: 0;
      li {
        position: relative;
        .rating {
          position: absolute !important;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
        }
      }
    }
  }
}