.homePageBanner {
  margin: 0px;
  position: relative;
  .homePageBannerSearch {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .homePageBannerSearchBox {
      height: 70px;
      width: 600px;
      background-color: #000;
      opacity: 0.75;
      color: #fff;
    }
    .homePageBannerSearchButton {
      height: 70px;
      background-color: #000;
      opacity: 0.75;
      color: #fff;
    }
  }
}

.search-title {
  color: gold;
  text-align: center;
}

.clip {
 overflow: hidden;
 display: block;
 height: 60vh;
}

.clip video {
  width: 100%;
}

.eventContainer {
  .event {
    height: 500px;
    padding: 15px;
    box-sizing: border-box;
    .imgContainer {
      height: 40%;
      background-image: url("https://wallpaperscraft.com/image/spices_seasonings_red_pepper_black_pepper_pepper_star_anise_onion_ginger_garlic_walnuts_bay_leaf_78738_1920x1080.jpg");
    }
    .eventDescription {
      height: 60%;
      border: 1px solid #111;
      border-top: none;
      padding: 10px 15px;
      .hostAndDetailButton {
        margin-top: 50px;
        .buttonWrap {
          position: relative;
          padding: 0;
          button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
       
        .avatarImg {
          height: 70px;
          border-radius: 50%;
        }
        .hostDetail {
          padding: 0 15px;
          p {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}