.userProfileHeader {
  height: 50vh;
  .avatar {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      width: 250px;
      height: auto;
    }
  }
  .userInfo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.hosted-event-header {
  border-bottom: 2px solid rgb(158, 157, 157);
}

.user-profile-header {
 padding-top: 100px;
}

$text-color: #212529;

.hostedEvents {
    margin-top: 50px;
    margin-bottom: 50px;
}


.reviews {
  .review {
    margin: 10px 0;
    .avatar {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      overflow: hidden;
    }
  }

}